

#team {
    display: flex;
    justify-content: space-between;
}

#team div {
    width: 50%;
}

 #team hr {
    width: 120px;
    height: 5px;
    text-align: left;
    margin-left: 0;
    color: #f03a76;
    border-radius: 20px;
    border: 0;
    background-color: #f03a76;
}

#team img {
    height: 460px;
}
 
#strategic {

    align-items: center;
    background-color: #181823;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
}

#strategic img {
    width: 500px;
}


.description h2 {
    color: #deecf9;
    font-weight: 700;
    text-transform: capitalize;
}

.description p {
    color: #c7e0fa;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
}

.description > div {
    background-color: #14b8e4;
    border-radius: 5px;
    width: 70px;
    height: 4px;
} 